{% extends './web_layout.html' %}
{% block css %}
{% load ui_method %}
<style>
#slides{
  display: none;
}
</style>
{% endblock %}
{% block js %}
<script type="text/javascript">
  //首页大图动画
  $(function(){
    $("#slides").slidesjs({
      width: 1200,
      start: 1,//控制从第几张图开始播放 
      navigation:{  //控制前后按钮
        active: true,//是否开启左右按钮
        effect: "fade"//触发按钮时，焦点图切换的特效，可选参数"slide"和"fade"
      }
    });
  })
</script>
{% endblock %}

{% block photo_id %}

<div class="y_banner y_banner1">

    <div id="slides">
      {% for i in ad_dict.1 %}
        <a href="{% if not i.columns_id %}{{ i.link }}{% else %}{% url 'public_page' i.columns_id %}{% endif %}"> <img src="{% build_photo_url i.photo_id 'raw' %}" alt=""> </a>
      {% endfor %}
    </div>

  </div>
  <div class="y_banner_m1">  
      <div class="slide_container">
       <ul class="rslides slide slide1" id="slider">
        {% for i in ad_dict.1 %}
          <li id="slide1_s3" class="" style="float: none; position: absolute; opacity: 0; z-index: 1; display: list-item; transition: opacity 400ms ease-in-out 0s;"><a href="{% if not i.columns_id %}{{ i.link }}{% else %}{% url 'public_page' i.columns_id %}{% endif %}"><img src="{% build_photo_url i.photo_id 'page_title' %}" alt="移动端首页banner4" border="0"></a></li> 
        {% endfor %}
         
       </ul><a href="#a" class="slide_nav slide1_nav prev">Previous</a><a href="#a" class="slide_nav slide1_nav next">Next</a>
     </div> 
    </div>
  </header>
{% endblock %}


{% block content %}
<section>
  <div class="y_content center">
    <div class="index_news">
      <span>NEWS:</span> 
      <div id="wenchuan">
      
      {% for i in campany_news %}
        <p><a href="{% url 'public_page' i.columns_id %}?article_id={{ i.article_id }}" title="{{ i.article_title }}">{{ i.article_title }}</a></p>
      {% endfor %}
    
    </div> 

      <script type="text/javascript" src="/static/web/index_textgd.js"></script>
    </div>
    <ul class="index_qtype">
      {% for i in ad_dict.3 %}
        <li style="margin-right:3.5%"><a href="{% if not i.columns_id %}{{ i.link }}{% else %}{% url 'public_page' i.columns_id %}{% endif %}"><img src="{% build_photo_url i.photo_id 'raw' %}" border="0" alt="" style="display: inline-block;"></a></li>
      {% endfor %}
    </ul>
    <div class="clean"></div>
    <div class="index_h1"></div>
  </div>
  <div class="y_content_bg1">
    <div class="content_div center">
      <div class="index_float">

         <div class="float_div">
          <img src="{% build_photo_url ad_dict.4.0.photo_id 'raw' %}" border="0" alt="">
          <div class="div1_text" >
            <b>{{ad_dict.4.0.ad_title}}</b>
            <p>{{ad_dict.4.0.ad_e_title}}</p>
          </div>
          <a class="div1_layer" href="{% if not ad_dict.4.0.columns_id %}{{ ad_dict.4.0.link }}{% else %}{% url 'public_page' ad_dict.4.0.columns_id %}{% endif %}">{{ad_dict.4.0.ad_text}}</a>
        </div>

        <div class="float_div box_hide"><i class="sds"><a href="http://v.youku.com/v_show/id_XNzI4MDQxMTM2.html?beta&amp;" target="_blank"><img src="/static/web/y_08.jpg" border="0" alt=""></a></i><i class="sda"><embed src="https://imgcache.qq.com/tencentvideo_v1/playerv3/TPout.swf?max_age=86400&amp;v=20161117&amp;vid=z0566nrpcju&amp;auto=0" allowfullscreen="true" quality="high" width="385" height="188" align="middle" allowscriptaccess="always" type="application/x-shockwave-flash"></i></div>
      </div>
      <div class="index_float">
      {% for i in ad_dict.5 %}
        <div class="float_div float_div2">
          <img src="{% build_photo_url i.photo_id 'raw' %}" border="0" alt="">
          <div class="div2_text">
            <b>{{i.ad_title| safe}}</b>
            <p>{{i.ad_e_title| safe}}</p>
          </div>
          <div class="clean"></div>
          <a class="div2_layer" href="{% if not i.columns_id %}{{ i.link }}{% else %}{% url 'public_page' i.columns_id %}{% endif %}">{{i.ad_text}}</a>
        </div>
      {% endfor %}
      </div>
      <div class="index_float box_right">
        <div class="float_div float_div2">
          <img src="{% build_photo_url ad_dict.6.0.photo_id 'raw' %}" border="0" alt="">
          <div class="div2_text" >
            <b>{{ad_dict.6.0.ad_title| safe}}</b>
            <p>{{ad_dict.6.0.ad_e_title| safe}}</p>
          </div>
          <div class="clean"></div>
          <a class="div2_layer" href="{% if not ad_dict.6.0.columns_id %}{{ ad_dict.6.0.link }}{% else %}{% url 'public_page' ad_dict.6.0.columns_id %}{% endif %}">{{ad_dict.6.0.ad_text}}</a>
        </div>
        <div class="float_div float_div1">
          <img src="{% build_photo_url ad_dict.6.1.photo_id 'raw' %}" border="0" alt="">
          <div class="div1_text">
            <b>{{ad_dict.6.1.ad_title}}</b>
            <p>{{ad_dict.6.1.ad_e_title}}</p>
          </div>
          <a class="div1_layer" href="{% if not ad_dict.6.1.columns_id %}{{ ad_dict.6.1.link }}{% else %}{% url 'public_page' ad_dict.6.1.columns_id %}{% endif %}">{{ad_dict.6.1.ad_text}}</a>
        </div>
      </div>
      <div class="clean"></div>
    </div>
  </div>
  <div class="y_cooper">
    <div class="cooper_cont center">
      <ul class="cooper_tit">
        <li class="cooper_p" onmouseover="tabChange(this,&#39;tabdiv&#39;,&#39;span&#39;,&#39;cooper_p&#39;)"><a href="#a">合作品牌</a></li>
        <li onmouseover="tabChange(this,&#39;tabdiv&#39;,&#39;span&#39;,&#39;cooper_p&#39;)"><a href="#a">合作商场</a></li>
      </ul>
      <div class="clean"></div>
      <div id="tabdiv">
        
        <span class="cooper_info">
          <div class="cooper_img">
            <a href="#a"><img src="{% if team_work_data.brand_top %}{% build_photo_url team_work_data.brand_top.photo_id 'top_team' %}{% else %}/static/web/2018020837823177.jpg{% endif %}" border="0" alt="{% if team_work_data.brand_top %}{{team_work_data.brand_top.team_name}}{% else %}优贝施品牌{% endif %}"></a>
          </div>
          <ul class="cooper_ul">
            {% for i in team_work_data.brand_list %}
              <li><a href="{{ i.team_link }}"><img src="{% build_photo_url i.photo_id 'team' %}" border="0" alt="{{i.team_name}}"></a></li>
            {% endfor %}
            <!-- <li><a href="#A"><img src="/static/web/2016080708345449.jpg" border="0" alt="HABA"></a></li>
            
            <li><a href="#A"><img src="/static/web/2017111537256933.jpg" border="0" alt="AMZ"></a></li>
            
            <li><a href="#A"><img src="/static/web/2016090345769257.jpg" border="0" alt="菲洛嘉"></a></li>
            
            <li><a href="#A"><img src="/static/web/2016080708505080.jpg" border="0" alt="丝塔芙"></a></li>
            
            <li><a href="#A"><img src="/static/web/2016090345850653.jpg" border="0" alt="伊姿法玛"></a></li>
            
            <li><a href="#A"><img src="/static/web/2017111537355513.jpg" border="0" alt="frei"></a></li>
            
            <li><a href="#A"><img src="/static/web/2016080708452672.jpg" border="0" alt="refa"></a></li>
            
            <li><a href="#A"><img src="/static/web/2017111537445041.jpg" border="0" alt="yaman"></a></li>
            
            <li><a href="#a"><img src="/static/web/2016083051865349.jpg" border="0" alt="minon"></a></li>
            
            <li><a href="#A"><img src="/static/web/2016080708574903.jpg" border="0" alt="三粧"></a></li>
            
            <li><a href="#A"><img src="/static/web/2017111537485637.jpg" border="0" alt="俪泉"></a></li>
            
            <li><a href="#A"><img src="/static/web/2016080708618384.jpg" border="0" alt="悠斯晶"></a></li>
            
            <li><a href="#A"><img src="/static/web/2016080708638376.jpg" border="0" alt="蕾娜"></a></li>
            
            <li><a href="#a"><img src="/static/web/2016090345823573.jpg" border="0" alt="星期四"></a></li>
            
            <li><a href="#a"><img src="/static/web/2016083051934117.jpg" border="0" alt="金缕梅"></a></li>
            
            <li><a href="#a"><img src="/static/web/2016083051892881.jpg" border="0" alt="森田"></a></li>
            
            <li><a href="#a"><img src="/static/web/2016090440936185.jpg" border="0" alt="妙思乐"></a></li>
            
            <li><a href="#a"><img src="/static/web/2016082637389233.jpg" border="0" alt="施巴"></a></li>
            
            <li><a href="#a"><img src="/static/web/2017111537529981.jpg" border="0" alt="欧兰"></a></li>
            
            <li><a href="#a"><img src="/static/web/2016082637434849.jpg" border="0" alt="海丝蓓康"></a></li> -->
            
          </ul>
          <div class="clean"></div>
        </span>
        <span class="cooper_info" style="display:none;">
          <div class="cooper_img">
            <a href="#a"><img src="{% if team_work_data.shop_top %}{% build_photo_url team_work_data.shop_top.photo_id 'top_team' %}{% else %}/static/web/2018021240044005.jpg{% endif %}" border="0" alt="{% if team_work_data.shop_top %}{{team_work_data.shop_top.team_name}}{% else %}优贝施商场{% endif %}"></a>
          </div>
          <ul class="cooper_ul">
              {% for i in team_work_data.shop_list %}
                <li><a href="{{ i.team_link }}"><img src="{% build_photo_url i.photo_id 'team' %}" border="0" alt="{{i.team_name}}"></a></li>
              {% endfor %}
            <!-- <li><a href="#a"><img src="/static/web/2016080708855264.jpg" border="0" alt="大悦城"></a></li>
            
            <li><a href="#a"><img src="/static/web/2016080708892992.jpg" border="0" alt="凯德"></a></li>
            
            <li><a href="#a"><img src="/static/web/2016090359412761.jpg" border="0" alt="龙湖天街"></a></li>
            
            <li><a href="#a"><img src="/static/web/2016080708662400.jpg" border="0" alt="万达广场"></a></li>
            
            <li><a href="#a"><img src="/static/web/2016090359476529.jpg" border="0" alt="东方新天地"></a></li>
            
            <li><a href="#a"><img src="/static/web/2016090359380749.jpg" border="0" alt="银泰"></a></li>
            
            <li><a href="#a"><img src="/static/web/2016090359601625.jpg" border="0" alt="爱琴海"></a></li>
            
            <li><a href="#a"><img src="/static/web/2016090359503065.jpg" border="0" alt="万象汇"></a></li>
            
            <li><a href="#a"><img src="/static/web/2016080708709455.jpg" border="0" alt="百盛"></a></li>
            
            <li><a href="#a"><img src="/static/web/2016080708816791.jpg" border="0" alt="新玛特"></a></li>
            
            <li><a href="#a"><img src="/static/web/2016090359316733.jpg" border="0" alt="民生"></a></li>
            
            <li><a href="#a"><img src="/static/web/2016080708733920.jpg" border="0" alt="世纪金花"></a></li>
            
            <li><a href="#a"><img src="/static/web/2016080708837351.jpg" border="0" alt="新世界"></a></li>
            
            <li><a href="#a"><img src="/static/web/2016080708771466.jpg" border="0" alt="大洋百货"></a></li>
            
            <li><a href="#a"><img src="/static/web/2016080708692112.jpg" border="0" alt="王府井"></a></li>
            
            <li><a href="#a"><img src="/static/web/2016080708755776.jpg" border="0" alt="金鹰"></a></li>
            
            <li><a href="#a"><img src="/static/web/2016080708875208.jpg" border="0" alt="印象城"></a></li>
            
            <li><a href="#a"><img src="/static/web/2016090359398045.jpg" border="0" alt="来福士"></a></li>
            
            <li><a href="#a"><img src="/static/web/2016090359727365.jpg" border="0" alt="星摩尔"></a></li>
            
            <li><a href="#a"><img src="/static/web/2016090359687033.jpg" border="0" alt="麦凯乐"></a></li> -->
            
          </ul>
          <div class="clean"></div>
        </span>
      </div>
    </div>
  </div>
</section>
{% endblock %}


<!-- <ul class="bottom_ul">
  <b><a href="list.asp?classid=3" target="">关于优贝施</a></b>
  
  <li><a href="list.asp?classid=2">什么是药妆？</a></li>
  
  <li><a href="list.asp?classid=3">企业简介</a></li>
  
  <li><a href="list.asp?classid=4">发展历程</a></li>
  
  <li><a href="list.asp?classid=6">企业动态</a></li>
  
</ul> -->

